/* :root {
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg:#04152d;


    --font-roboto:'Roboto';
    
}


 */

 :root {
    --color-text: #8697C4; /* Changed to black for better readability on light background */
    --color-primary: #ADBBDA; /* Light blue from buttons and accents */
    --color-secondary: #ADBBDA; /* Darker blue for secondary accents */
    --color-dark: #3D52A0; /* Dark blue for contrast */
    --color-bg: #EDE8F5; /* Very light blue for background */

    --font-roboto: 'Roboto';
}

